<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue_demo</title>
	<link rel="shortcut icon" href="logo.png" type="image/x-icon"/>
	<link rel="stylesheet" href="css/index.css">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="content">
		<h3>001.声明式渲染，你好Vue！</h3>
		<div id="app-1">
			{{msg}}
		</div>
		<p class="tips">我们已经生成了我们的第一个 Vue 应用！看起来这跟单单渲染一个字符串模板非常类似，但是 Vue.js 在背后做了大量工作。现在数据和 DOM 已经被绑定在一起，所有的元素都是响应式的。我们如何知道？打开你的浏览器的控制台，并修改 app1.message，你将看到上例相应地更新。</p>

		<h3>002. v-bind:title 绑定DOM元素的属性</h3>
		<div id="app-2">
			<span v-bind:title="message">
				Hover your mouse over me for a few seconds to see my dynamically bound title!
			</span>
		</div>
		<p class="tips">这里我们遇到点新东西。你看到的 v-bind 属性被称为指令。指令带有前缀 v-，以表示它们是 Vue.js 提供的特殊属性。可能你已经猜到了，它们会在渲染过的 DOM 上应用特殊的响应式行为。这个指令的简单含义是说：将这个元素节点的 title 属性和 Vue 实例的 message 属性绑定到一起。<br>你再次打开浏览器的控制台输入 app2.message = 'some new message'，你就会再一次看到这个绑定了title属性的HTML已经进行了更新。</p>

		<h3>003.控制切换一个元素的显示 （条件）</h3>
		<div id="app-3">
			<p v-if="seen">Now you see me.</p>
		</div>
		<p class="tips">继续在控制台设置 app3.seen = false，你会发现 “Now you see me” 消失了。</p>

		<h3>004.（循环）</h3>
		<div id="app-4">
			<ul>
				<li v-for="todos in todo">
					{{ todos.text }}
				</li>
			</ul>
		</div>
		<p class="tips">在控制台里，输入 app4.todos.push({ text: 'New item' })。你会发现列表中多了一栏新内容。</p>

		<h3>005.处理用户输入</h3>
		<div id="app-5">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">Reverse Message</button>
		</div>
		<p class="tips">我们可以用 v-on 指令绑定一个监听事件用于调用我们 Vue 实例中定义的方法<br>在 reverseMessage 方法中，我们在没有接触 DOM 的情况下更新了应用的状态 - 所有的 DOM 操作都由 Vue 来处理，你写的代码只需要关注基本逻辑。</p>

		<h3>006.</h3>
		<div id="app-6">
			<p>{{message}}</p>
			<input v-model="message">
		</div>
		<p class="tips"></p>

		<h3>007.</h3>
		<div id="app-7">
		  <ol>
		    <!-- Now we provide each todo-item with the todo object  (现在我们接受每一个 todo-item 和 todo 对象)-->
		    <!-- it's representing, so that its content can be dynamic ( 它的代表，所以它的内容可以是动态的 ) -->
		    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		  </ol>
		</div>
		<p class="tips"></p>
	</div>
</body>
<script>
	var app1 = new Vue({
		el:"#app-1",
		data:{
			msg:"Hello Vue!"
		}
	});

	var app2 = new Vue({
		el: '#app-2',
		data: {
			message: 'You loaded this page on ' + new Date()
		}
	});
	
	var app3 = new Vue({
		el:"#app-3",
		data:{
			seen:true
		}
	});

	var app4 = new Vue({
		el:"#app-4",
		data:{
			todo:[
			{text:"Wherever You Go,"},
			{text:"Whatever You Do,"},
			{text:"I'll right here weiting for you."}
			]
		}
	});

	app5 = new Vue({
		el:"#app-5",
		data:{
			message:"Hello Vue.js"
		},
		methods:{
			reverseMessage:function(){
				this.message = this.message.split('').reverse().join('');
			}
		}
	});

	var app6 = new Vue({
		el: '#app-6',
		data: {
			message: 'Hello Vue.js!'
		}
	});


	// Define a new component called todo-item (定义一个新的组件名为 todo-item )
	Vue.component('todo-item', {
		// The todo-item component now accepts a  			这个组件现在接受一个
		// "prop", which is like a custom attribute.  		“prop”，类似一个自定义属性。
		// This prop is called todo.						这个 prop 叫 todo
		props: ['todo'],
		template: '<li>{{ todo.text }}</li>'
	});

	var app7 = new Vue({
		el: '#app-7',
		data: {
			groceryList: [
			{ text: 'Vegetables' },
			{ text: 'Cheese' },
			{ text: 'Whatever else humans are supposed to eat' }
			]
		}
	})

</script>
</html>